@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: strat;
  font-size: 3rem;
}

/* Sidebar width */
.nav-menu {
  background-color: #001f3f;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
}

/* Main content when sidebar is visible */
.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 0px; /* same as sidebar width */
}
